/*! home.scss */
.home {
  background: $light-gray;
  overflow-x: hidden;  // jInvertScroll

  header {
    position: relative;
    width: 100%;
    height: 90vh;
    background: url('../../images/LondonRidgeSouthSideDarker.jpg')fixed;
    background-size: cover;
    background-position: 50% 50%;
    overflow-x: hidden;
  }

  main {

    div {
      @include outer-container;

      div {

        article {
          @include span-columns(6);
        }
      }
    }
  } // main

  footer {
    section{

    } // footer section
  } // footer
} // body
