/*! home.scss */
body {
  background: $light-gray;

  header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../images/LondonRidgeSouthSideDarker.jpg')fixed;
    background-size: cover;
    background-position: 50% 50%;
    overflow-x: hidden;
  }

  main {
    section {
      @include outer-container;
      p {
        @include span-columns(3 of 12);
      }
    }
  } // main

  footer {
    section{

    } // footer section
  } // footer
} // body
